# Node
node_modules
npm-debug.log
yarn-error.log

# Next.js build output
.next
out
dist
build

# Git
.git
.gitignore

# Env files
.env
.env.local
.env.production
.env.development
.env.test

# Docker
Dockerfile
.dockerignore

# OS junk
.DS_Store
Thumbs.db

# Editor
.vscode
.idea

# Logs
*.log
